/* Main index CSS */
#neon a {
	text-decoration: none;
	color: black;
	animation: pulse 5s infinite;
	animation-direction: alternate;
	animation-timing-function: ease;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes reset9 {
	to {
		width: auto;
	}
}

#neon a:hover,
#neon:focus {
	animation-name: reset9;
	/*animation-duration:.000001s;*/
	text-decoration: underline;
	color: red;
	opacity: 1;
}
#neon a:active {
	text-decoration: underline;
	color: red;
}
#neon ul {
	list-style: none;
	margin: 0px;
	padding: 0;
	white-space: nowrap;
}

body {
	position: relative;
	background-color: #eaeaea;
	margin: 50px;
	padding: 0px;
}
h1 {
	font-style: italic;
	font-size: 20px;
}
h2 {
	font-size: 44px;
	padding: 0;
	margin: 0;
}
img {
	border: none;
	vertical-align: top;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events:none;
}
#cousins {
	left: 0px;
	position: absolute;
}
#cousins ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#brothers {
	left: -30px;
	top: 150px;
	position: absolute;
	z-index: -1;
}
#brothers ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
