/* Main index CSS */

body {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    background-color: #eaeaea;
    margin: 2rem;
    font-size: 1rem;
}

.container {
    width: 100%;
    max-width: 30rem;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    animation: pulse 5s infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

a:hover,
a:focus {
    animation-name: reset9;
    text-decoration: underline;
    color: red;
    opacity: 1;
}

a:active {
    text-decoration: underline;
    color: red;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes reset9 {
    to {
        width: auto;
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin: 1.25rem;
    }
}